<div class="container">
<div class="row">
  <div class="col-md-12" >
    <table class="table" >
  <tr>
    <th>Image</th>
    <th>Product</th>
    <th>Discount</th>    
    <th>Walmart Price</th>
    <th>Amazon Price</th>
    <th>Actions</th>
  </tr>
  <%@walmart_array.each do |entry|%>
  <tr>
      <td><img src=<%=entry[:image]%> width=200px></td>
      <td>
        <%=entry[:name]%>
      </td>
      <td>
        <%= 
          if entry[:discount].class==Float 
            number_to_percentage(entry[:discount], precision:0) 
          else 
            entry[:discount]
          end
        %>
      </td>      
      <td>
        <% if entry[:price].class==Float %>
            <%= number_to_currency(entry[:price]) %>
            <a href=<%=entry[:url]%> target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
            <% if entry[:stock]=="Not available" %>
            <p><span class="badge" style="background-color:red">Out of Stock</span></p>
            <% end %>
        <% else %>
            <%=entry[:price]%>
        <% end %>
      </td>
      <td>
        <% if entry[:amazon_price].class==Float %>
            <%=number_to_currency(entry[:amazon_price]) %>
            <a href=<%=entry[:amazon_url]%> target="_blank"><span class="glyphicon glyphicon-eye-open"></span></a>
        <% else %> 
            <%=entry[:amazon_price]%>
        <% end %>
      </td>
      <td>
          <form action="/create_bookmark" method="post">
             <!-- Hidden input for authenticity token to protect from forgery -->
             <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
             <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
             <input type="hidden" id="upc" name="upc" placeholder="Upc" class="form-control" value="<%= entry[:upc] %>">
             <input type="hidden" id="image" name="image" placeholder="Image URL" class="form-control" value="<%= entry[:image] %>">
             <input type="hidden" id="name" name="name" placeholder="Name" class="form-control" value="<%= entry[:name] %>">
             <input type="hidden" id="price" name="price" placeholder="Walmart Price" class="form-control" value="<%= entry[:price] %>">
             <input type="hidden" id="amazon_price" name="amazon_price" placeholder="Amazon Price" class="form-control" value="<%= entry[:amazon_price] %>">
             <input type="hidden" id="add_to_cart" name="add_to_cart" placeholder="Add To Cart" class="form-control" value="<%= entry[:add_to_cart] %>">
             <input type="hidden" id="url" name="url" placeholder="Walmart URL" class="form-control" value="<%= entry[:url] %>">
             <input type="hidden" id="amazon_url" name="amazon_url" placeholder="Amazon URL" class="form-control" value="<%= entry[:amazon_url] %>">
             <button class="btn btn-primary btn-sm">
               <span class="glyphicon glyphicon-plus"></span>
             </button>
           </form>
      </td>
  </tr>
<%end%>
</table>
</div>
</div>
</div>