<p>Name: <%=@title%></p>
<p>UPC: <%=@upc%></p>
<p>Amazon Price: <%=@amazon_price%></p>
<p>Walmart Price: <%=@walmart_price%></p>
<p>Difference: <%=@difference%></p>
<p>Fees with FBA: <%=@fees %></p>
<img src=<%=@image%>>
