<br>
<br>
<br>
<br>
<br>

<p> Price: <%=number_to_currency(@data[:price])%> </p>
<img src="<%=@data[:image]%>">
<p><a href=<%=@data[:url]%>>Wakmart Link</a></p>

<p> Price: <%=number_to_currency(@data1[:price])%> </p>
<p><a href=<%=@data1[:url]%>>Amazon Link</a></p>


